@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --gradient1: linear-gradient(90deg, #EEF1F8, #0E552D);
  --gradient2: linear-gradient(90deg, #0E552D, #EEF1F8);
  --green: #0E552D;
  --btn-hover: #28A745;
  --dark-color: #232536;
}

